<h1>Let's start with adding some countries to your profile</h1>

<h4>One more step before accessing your profile</h4>


<div>
  <form action="/signup/firstwishlist" method="POST">
  <div class="mb-3">
    <label class="form-label">Pick a country you would like to visit</label>
    <select multiple name="countryId" class="form-select">
      {{#each name}}
      <option value="{{this._id}}"> {{this.name}}</option>
      {{/each}}
    </select>
      </div>
      <div>
    <button type="submit" class="btn btn-primary button-travel">Go to my profile</button>
      </div>



  </form>


</div>