<div id="catchPhrase">
<h1>About us and this project</h1>
</div>


  <p class="text-wrap textCenter">Travel lovers, we wanted to create an app that would help you organize your thoughts about the trips you are programming.

the ones you've already done.
The idea is to stay simple. You can navigate through your wishlists using the profile tab at the top of your screen or personnalize 
your account by clicking on the account tab.

Feel free to reach out to us via our Linkedin accounts if you have any questions or suggestions.</p>
<div class="lkdn">
<a  class="lkdntext darkmode-ignore nav-link" href="https://www.linkedin.com/in/yanis-dimitropoulos-01446587/?locale=en_US">Yanis Dimitropoulos</a>
<a  class="lkdntext darkmode-ignore nav-link" href="https://www.linkedin.com/in/julie-nonnenmacher/">Julie Nonnenmacher</a>
</div>


