<h1>About us and this project</h1>

<p>Travel lovers, we wanted to create an app that would help you organize your thoughts about the trips you are programming and <br>
the ones you've already done.
The idea is to stay simple. You can navigate through your wishlists using the profile tab at the top of your screen or personnalize <br>
your account by clicking on the account tab.

Feel free to reach out to us via our Linkedin accounts if you have any questions or suggestions.</p>