<div class="container-error">
  <div class="errorPageNotFound">
    <h1>Error!</h1>
    <h2>Oopsy! There was an error on the server! Sorry for that!</h2>
    <br>
    <img src="/images/cookie.jpg" alt="cookie the dev dog is confused" class="img-fluid" id="world">
  </div>
</div>





<div id='errorLink'>
  <p>No worries,Super Luis will guide you (again!) back to your profile</p>
  <a href="/home/profile">
    <img src="/images/luishelp.png" class="luis" alt="our TA will help  you go back to your profile">
  </a>
</div>