<div id="catchPhraseError">
  <h1>Error!</h1>
  <h2>Oopsy! There was an error on the server! Sorry about that!</h2>
</div>
<div id="errorImg">
  <img src="/images/cookie.jpg" alt="cookie the dev dog is confused" class="img-fluid" id="sheep">
</div>


<div id='errorButtondiv'>
  <p id="text-button">No worries, Super Luis will guide you (again!) back to our Homepage</p>
  <a href="/home">
    <img src="/images/luishelp.png" class="luis" alt="our TA will help  you go back to your profile">
  </a>
</div>