<div class="container-error">
  <div class="errorPageNotFound">
    <h1>404 Error</h1>
    <h3>Oopsy!!! You travelled too far!</h3>
    <img src="/images/sheeperror.jpeg" alt="cute lost goat from Faroe Islands" class="img-fluid" id="sheep">
    <h4>The page you looking for doesn't exist on the map...</h4>

  </div>
</div>


<div id='errorButtondiv'>
  <p>No worries,Super Luis will guide you (again!) back to your profile</p>
  <a href="/home/profile">
    <img src="/images/luishelp.png" class="luis" alt="our TA will help  you go back to your profile">
  </a>
</div>

