<div id="catchPhraseError">
  <h1>404 Error</h1>
  <h3>Oopsy!!! It seems you travelled too far!</h3>
</div>
<div id="errorImg">
  <img src="/images/sheeperror.jpeg" alt="cute lost goat from Faroe Islands" class="img-fluid" id="sheep">
</div>

<div id="catchPhraseError">
  <h4>The page you are looking for does not exist on the map...</h4>
</div>

<div id='errorButtondiv'>
  <p id="text-button">No worries, Super Luis will guide you (again!) back to our Homepage</p>
  <a href="/home">
    <img src="/images/luishelp.png" class="luis" alt="our TA will help  you go back to your profile">
  </a>
</div>