<h1>Country details</h1>



<div class="mb-3">
  <p>Name : {{data.name}}</p>
</div>
<div>
  <a href="/country/{{data._id}}/countryWishList"><button type="submit" class="btn btn-primary button-travel"
      name="countryWishList" id="countryWishList">Add to my wishlist</button></a>

</div>
<div>
  <a href="/country/{{data._id}}/countryVisitor"><button type="submit" class="btn btn-primary button-travel"
      name="countryVisitor" id="countryVisitor">Add to my visited list</button></a>

</div>