<h1>Search</h1>
<form action="/search" method='GET'>
  <input type="text" name='query' id="search" placeholder="Search Photos">
  <button type="submit">Search</button>
</form>
<div id="result">
    
    {{#each images}}
  <button><a href="{{this.links.download}}"><img src='{{this.urls.regular}}' alt="{{this.alt_description}}"></a></button>
  
  {{/each}}
  
  
</div>

{{#if msg}}
<div class="error">{{msg}}</div>
{{/if}}