body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.general-background {
  background-color: #fbfcf8;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
}

.button-travel {
  background-color:#91d7a4 ;
  border-color: #91d7a4;
  padding: 5px 30%;
  text-align: center;
}
